@use '../abstracts' as *;
@use '../base/utility' as *;

input {
	font-family: $ff-nuni;
	text-align: center;
}

/* removes number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type='number'] {
	-moz-appearance: textfield;
}

.input-grp {
	@extend .flex;

	input {
		padding: 0;
		border: none;
		border-radius: $border-rad;
		font-weight: 700;
	}
}
