@use '../abstracts'as *;
@use '../base/utility';
@use '../components/buttons';

.score {
	$fs: 4rem;
	--gap: 1.3rem;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;

	div {
		width: fit-content;

		#score-p1 {
			color: $p1;
		}

		#score-p2 {
			color: $p2;
		}
	}

	// label {
	// 	display: block;
	// 	margin-top: .75rem;
	// 	font-size: 1.5rem;
	// 	text-align: center;
	// }

	input {
		display: block;
		// height: $fs;
		width: 8rem;
		font-size: $fs;
		line-height: $fs;
		text-align: center;
	}

	span {
		font-size: $fs;
		line-height: $fs;
	}

}

.btn-grp-score {
	@extend .btn-grp;

	button {
		font-size: 2rem;

		&:first-child {
			background-color: $p1;

			&:active {
				background-color: mix($p1, black, 90%);
			}
		}

		&:last-child {
			background-color: $p2;

			&:active {
				background-color: mix($p2, black, 90%);
			}
		}
	}
}