@use '../abstracts'as *;
@use '../base/utility';
@use '../components/buttons';

.score {
	$fs: 3rem;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 2rem;

	#score-p1 {
		color: $p1;
	}

	#score-p2 {
		color: $p2;
	}

	input {
		height: 4rem;
		width: 8rem;
		font-size: $fs;
		line-height: $fs;
	}

	span {
		color: rgba($f-clr, .5);
		font-size: $fs;
		line-height: $fs;
	}
}

.btn-grp-score {
	@extend .btn-grp;

	button {
		font-size: 2rem;

		&:first-child {
			background-color: $p1;

			&:active {
				background-color: mix($p1, black, 90%);
			}
		}

		&:last-child {
			background-color: $p2;

			&:active {
				background-color: mix($p2, black, 90%);
			}
		}
	}
}